body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(12, 199, 241);
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: space-around;
    background-color: rgb(12, 199, 241);

}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    align-items: center;
    background-color: rgb(12, 199, 241);
}
.container12 {
    width: 600px;
    height: 600px;
    display: grid;
    border: 1px solid black;
    background-color: white;
}